<div class="container mt-4">
  <div class="card shadow-lg">
    <div class="card-header text-center">
      <h1 class="card-title"><%= @event.subject %> の詳細</h1>
    </div>

    <div class="card-body">
      <p><strong>内容:</strong> <%= @event.content %></p>
      <p><strong>作成日時:</strong> <%= @event.created_at.strftime("%Y-%m-%d %H:%M") %></p>
      <%= link_to 'イベント一覧に戻る', public_group_events_path(@group), class: 'btn btn-secondary' %>
    </div>
  </div>
</div>
